<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450070705322-opl0jggblu7e9nlslgdju4uf807lq0nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450070705322-opl0jggblu7e9nlslgdju4uf807lq0nk</string>
	<key>API_KEY</key>
	<string>AIzaSyCi9zOy592iOCqebwp2I-U9ynYGL-TFh0A</string>
	<key>GCM_SENDER_ID</key>
	<string>450070705322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hw.part1</string>
	<key>PROJECT_ID</key>
	<string>part1-c7967</string>
	<key>STORAGE_BUCKET</key>
	<string>part1-c7967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450070705322:ios:031aa8cbbc20571e8f0cd3</string>
</dict>
</plist>